.container{
    /*height: 650px;*/
    /*border: 2px solid black;*/
    text-align: center;
}
.a,.b,.c,.d{
    display: inline-block;
    /*height: 500px;*/
    /*border: 2px solid red;*/
    width: 350px;
    margin: 10px;
    vertical-align: top;
}
.img{
    width: 100%;
}
h2{
    font-size: x-large;
    font-weight: 800;
}